*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;

}
 body{
  height: 100%;
  width: 100%;
} 
body{
  background-color: #111;
}

.parent{
 width: 100%;
 height: 100%;
 background-color:#111;
 padding: 20px;
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.card{
  width: 280px;
  height: 350px;
  background: white;
border-radius: 30px;
padding: 30px;
display: flex;
flex-direction: column;

justify-content: space-between;
}
.center{
  /* background-color: red; */
  
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 8px;
}
.center .tag h4{
  font-size: 15px;
  background-color: #dadada;
  color: black;
  padding: 3px 6px;
  font-weight: 500;
  border-radius: 5px;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 1px;

}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 5px;
  background-color: transparent;
  color: #8b8b8b;
}
.bottom{
  display: flex;
  align-items:center;
  justify-content: space-between;
  
  /* background-color: #b1b1b1; */
  
  padding-top: 15px;
  border-top: 1px solid #b1b1b1;

}
.bottom h3{
  font-size: 19px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}
.bottom button{
  background-color: black;
  color: white;
  border-radius: 5px;
  column-width: 600;
  border: none;
  padding: 5px 10px;
}